In [6]:
#conda install -c anaconda beautifulsoup4

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/fer/miniconda3

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    beautifulsoup4-4.8.2       |           py37_0         161 KB  anaconda
    certifi-2019.11.28         |           py37_0         156 KB  anaconda
    conda-4.8.2                |           py37_0         3.0 MB  anaconda
    soupsieve-1.9.5            |           py37_0          61 KB  anaconda
    ------------------------------------------------------------
                                           Total:         3.4 MB

The following NEW packages will be INSTALLED:

  beautifulsoup4     anaconda/linux-64::beautifulsoup4-4.8.2-py37_0
  soupsieve          anaconda/linux-64::soupsieve-1.9.5-py37_0

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2019.11.~ --> anaconda::ca-certificates-2020.1.1-0
  openssl            conda-forge::openssl-1.1.1d-h516909a_0 --> anaconda::openssl-1.1.1-h7b6447c_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi                                       conda-forge --> anaconda
  conda                                         conda-forge --> anaconda



Downloading and Extracting Packages
beautifulsoup4-4.8.2 | 161 KB    | ##################################### | 100%
soupsieve-1.9.5      | 61 KB     | ##################################### | 100%
certifi-2019.11.28   | 156 KB    | ##################################### | 100%
conda-4.8.2          | 3.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [10]:
#conda install -c anaconda lxml

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/fer/miniconda3

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxslt-1.1.33             |       h7d1a2b0_0         577 KB  anaconda
    lxml-4.5.0                 |   py37hefd8a0e_0         1.5 MB  anaconda
    ------------------------------------------------------------
                                           Total:         2.1 MB

The following NEW packages will be INSTALLED:

  libxslt            anaconda/linux-64::libxslt-1.1.33-h7d1a2b0_0
  lxml               anaconda/linux-64::lxml-4.5.0-py37hefd8a0e_0



Downloading and Extracting Packages
lxml-4.5.0           | 1.5 MB    | ##################################### | 100%
libxslt-1.1.33       | 577 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [20]:
import requests
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
from bs4 import BeautifulSoup


# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html_doc = requests.get(url).text
soup = BeautifulSoup(html_doc, 'html.parser')
content = soup.find('table', {'class': 'wikitable sortable'})

content_list = pd.read_html(str(content), skiprows=1)

In [21]:
# instantiate the dataframe
neighborhoods = pd.DataFrame.from_dict(content_list[0])
neighborhoods.columns=column_names

In [22]:
neighborhoods.head()

  PostalCode           Borough      Neighborhood
0        M2A      Not assigned      Not assigned
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights

In [23]:
# Ignore cells with a borough that is Not assigned.
neighborhoods = neighborhoods[neighborhoods.Borough != 'Not assigned']

In [24]:
neighborhoods.head()

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor

In [25]:
# combined into one row the neighborhoods with same postal code area
neighborhoods = neighborhoods.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame()
neighborhoods.reset_index()

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Rouge, Malvern
1          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [14]:
for i, cell in neighborhoods.iterrows():
    if cell['Neighborhood'] == 'Not assigned':
        cell['Neighborhood'] = cell['Borough']

In [15]:
neighborhoods.head()

                                                  Neighborhood
PostalCode Borough
M1B        Scarborough                          Rouge, Malvern
M1C        Scarborough  Highland Creek, Rouge Hill, Port Union
M1E        Scarborough       Guildwood, Morningside, West Hill
M1G        Scarborough                                  Woburn
M1H        Scarborough                               Cedarbrae

In [16]:
neighborhoods.shape

(103, 1)

In [18]:
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
neighborhoods = pd.merge(neighborhoods, coordinates, how='inner', left_on='PostalCode', right_on='Postal Code')
neighborhoods

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [19]:
neighborhoods = pd.merge(neighborhoods, coordinates, how='inner', left_on='PostalCode', right_on='Postal Code')
neighborhoods

,Neighborhood,Postal Code,Latitude,Longitude
0,"Rouge, Malvern",M1B,43.806686,-79.194353
1,"Highland Creek, Rouge Hill, Port Union",M1C,43.784535,-79.160497
2,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,Woburn,M1G,43.770992,-79.216917
4,Cedarbrae,M1H,43.773136,-79.239476
...,...,...,...,...
98,Weston,M9N,43.706876,-79.518188
99,Westmount,M9P,43.696319,-79.532242
100,"Kingsview Village, Martin Grove Gardens, Richv...",M9R,43.688905,-79.554724
101,"Albion Gardens, Beaumond Heights, Humbergate, ...",M9V,43.739416,-79.588437
102,Northwest,M9W,43.706748,-79.594054